.arrow-dna {
    text-align: center;
    line-height: 4em;
    border: 0.25em solid @color-A4;
    border-bottom-width: 1.25em;
    height: 7em;
    width: 6em;
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: 999;
    color: #39914F;
    font-weight: bold;
    font-size: 28px;
    font-family: 'urw-grotesk-t';
    background-color: white;
    margin-top: -3.25em;
}

.arrow-money {
    text-align: center;
    line-height: 6em;
    border: 0.25em solid @color-A4;
    border-right-width: 1.25em;
    height: 6em;
    width: 7em;
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: 999;
    color: #39914F;
    font-weight: bold;
    font-size: 28px;
    font-family: 'urw-grotesk-t';
    background-color: white;
    margin-top: -3.25em;
}

/* less variables {{{ */
@color-marron: #AA4400;
@color-jaune: #FFFF00;
@color-anthracite: #412828;
@color-beige: #D9DEBA; 
@color-bleu-layette: #DBE3E2; 
@color-rose: #FF8080;
@color-vert-eau: #BEE5BE;
@color-bleu-gris:#376c6f;

@color-A1: rgba(42, 133, 164, 255);
@color-A2: rgba(177, 69, 66, 255);
@color-A3: rgba(255, 254, 53, 255);
@color-A4: rgba(57, 145, 79, 255);
@color-B2: rgba(219, 40, 35, 255);
@color-B3: rgba(255, 253, 115, 255);
@color-B4: rgba(225, 241, 122, 255);
@color-C1: rgba(137, 203, 225, 255);
@color-C2: rgba(249, 49, 52, 255);
@color-D1: rgba(169, 213, 222, 255);
@color-D3: rgba(247, 229, 149, 255);
@color-E1: rgba(233, 234, 225, 255);
@color-E3: rgba(254, 250, 194, 255);
/* }}} */


/* fonts {{{ */
@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-italic-webfont.eot');
    src: url('../fonts/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-italic-webfont.svg#texgyrescholaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bolditalic-webfont.svg#texgyrescholabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#texgyrescholabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('../fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('../fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('../fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('../fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet-IV';
    src: url('../fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinCondensed';
    src: url('../fonts/CabinCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Career';
    src: url('../fonts/Career.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'urw-grotesk-t';
    src: url('../fonts/urwgroteskt-bold-webfont.eot');
    src: url('../fonts/urwgroteskt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/urwgroteskt-bold-webfont.woff') format('woff'),
         url('../fonts/urwgroteskt-bold-webfont.ttf') format('truetype'),
         url('../fonts/urwgroteskt-bold-webfont.svg#urw_grotesk_tbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* }}} */


/* mixins {{{ */
.background-size (@size: cover) {
    -webkit-background-size: @size;   
       -moz-background-size: @size;   
         -o-background-size: @size;   
            background-size: @size;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
       -moz-box-sizing: @type;
        -ms-box-sizing: @type;
            box-sizing: @type;
}

.column-count(@column-count: 2){
    -webkit-column-count: @column-count;
       -moz-column-count: @column-count;
            column-count: @column-count;
}

.column-gap(@column-gap: 30px){
    -webkit-column-gap: @column-gap;
       -moz-column-gap: @column-gap;
            column-gap: @column-gap;
}

.column-rule(@column-rule: 1px solid black){
    -webkit-column-rule: @column-rule;
       -moz-column-rule: @column-rule;
            column-rule: @column-rule;
}

.user-select (@val) {
    -webkit-touch-callout: @val;
      -webkit-user-select: @val;
       -khtml-user-select: @val;
         -moz-user-select: @val;
          -ms-user-select: @val;
              user-select: @val;
}

.transition (@prop: all, @time: 1s, @ease: linear, @delay: 0s) {
    -webkit-transition: @prop @time @ease @delay;
       -moz-transition: @prop @time @ease @delay;
         -o-transition: @prop @time @ease @delay;
        -ms-transition: @prop @time @ease @delay;
            transition: @prop @time @ease @delay;
}

.transform(@string){
    -webkit-transform: @string;
       -moz-transform: @string;
        -ms-transform: @string;
         -o-transform: @string;
}
/* }}} */


/* custom mixins {{{ */
.concrete {
    font-family: 'alfphabetbipocatcondensed';
    font-size: 0.8em;
}

.cols2 {
    .column-count(2);
    .column-rule(3px double black);
    .column-gap(50px);
}

.cols2 div {
    display: inline-block;
}
/* }}} */


/* Carousel {{{ */
.jcarousel-outer {
    position: relative;
    background-color: white;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    margin: 0 50px;
    z-index: 2;
}

.jcarousel-inner {
    width: 10000%;
    position: relative;
}

.jcarousel-item {
    float: left;
    color: black;
}

.jcarousel-item h3 {
    text-transform: uppercase;
}

.jcarousel-controls {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    .user-select(none);
}

.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: 0px;
    width: 44px;
    height: 100%;
    text-align: center;
    color: white;
    text-decoration: none;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/arrow-left.svg");
}

.jcarousel-control-prev {
    left: 0px;
    background-image: url("../img/arrow-left3.svg");
}

.jcarousel-control-next {
    right: 0px;
    background-image: url("../img/arrow3.svg");
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
/* }}} */


/* layout {{{ */
body {
    margin: 50px;
    overflow-x: hidden;
}

#foo {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
}

#bar {
    position: relative;
    margin: 0 auto;
    max-width: 1960px;
    min-width: 240px;
}

#outer-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 240px;
}

.wrap {
    margin-left: 33.333%;
    padding-left: 20px;
}

#dna {
    .column-count(2);
    .column-gap(20px);
}

#dna > div {
    display: inline-block; 
}

/*#subscribing {*/
    /*margin-left: 150px;*/
    /*margin-right: 50px;*/
/*}*/

.left-arrow {
    height: 250px;
    position: absolute;
    top: 0;
    left: -150px;
}

.right-arrow {
    height: 250px;
    position: absolute;
    top: 0;
    right: -50px;
}

.text {
    margin-right: 70%;
    margin-left: 50px;  
}

.schema {
    position: absolute;
    top: -70px;
    left: 30%;
    width: 65%;    
}

.jcarousel-outer {
/*#donating,*/
/*#subscribing,*/
/*#cooperating {*/
    position: relative;
    z-index: 2;
}

/*#donating,*/
/*#subscribing,*/
/*#cooperating {*/
    /*padding: 3em 0;*/
/*}*/

.arrow {
    height: 100%;
    width: 5%;
    background-color: white;
    float: left;
    background-size: cover;
    background-image: url("../img/arrow.svg");
}

.cover {
    position: absolute;
    z-index: 1;
    .transition(left, 1000ms, ease-out, 0s);
    left: -2000px;
    top: 0px;
    text-align: center;
    width: 33.333%;
    padding-right: 20px;
}


.cover.active {
    left: 0;
}

.cover img {
    width: 90%;
    max-width: 350px;
}

/* }}} */

/* generic styles {{{ */
body {
    font-family: 'Goudy Bookletter 1911', serif;
    /*font-family: 'texgyreschola';*/
    /*font-family: 'Lora', serif;*/
    /*font-family: 'Sorts Mill Goudy', serif;*/
    font-size: 20px;
    line-height: 1.22;
}

p + p {
    margin-top: 1.31em;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: @color-A1;
}

a:hover{
    text-decoration: underline;
}

ul {
    margin-left: 20px;
}

li {
    margin-top: 5px;
}

ul li:before {
    content: "— ";
}

details {
    .concrete;
    text-align: left;
}

table {
    /*width: 300px;*/
    .concrete;
}

td {
    /*border: 1px solid black;*/
    text-align: ".";
}
/* }}} */

#newsletter input[type="text"] {
    border: 1px solid black;
    background: @color-D3;
}

#newsletter input[type="text"]:hover {
    border: 1px solid black;
    background: #fff;
}

#newsletter input[type="submit"]{
    color: black;
    margin: 0.5em;
    display: block;
    width: 150px;
    height: 30px;
	font-family: 'alfphabetbipocatcondensed';
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0.75em;
    font-size: 13px;
    border: 1px solid black;
    background: @color-D1;
}

#newsletter input[type="submit"]:hover {
    border: 1px solid black;
    background: @color-D3;
    color: white;
}

/* specific styles {{{ */
#main-header {
    .column-count(2);
    .column-gap(20px);
}


header {
    margin-bottom:5em;
}

header h1 {
    font-family:'alfphabetbipocatcondensed';
    font-size: 2.6em;
}

#baseline {
    font-family: 'alfphabetbipocatcondensed';    
    font-size: 1.5em;
    outline: 1px solid black;
    padding: 0.15em;
    margin-top: -7px !important;
    margin-bottom: 12px !important;
/*    letter-spacing: 0.04em;*/
}

#subtitle {
    font-family: 'Career';
    font-size: 1.8em;
}

#main-intro {
    display:inline-block;
}

#head-button {
	font-family: 'alfphabetbipocatcondensed';
	font-size: 1em;
	display: block;
	font-size: 1em !important;
	letter-spacing: 0em;
	text-align: center;
	border: 0px solid black;
}
	
#head-button a {
    color: black;
}
	
#head-button li {
    border: 3px solid black;
    position: relative;
    height: 4em;
    padding: 0 4em;
    text-align: center;
    line-height: 4em;
}

#head-button li:before,
#head-button li:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    border-color: transparent black;
    border-style: solid;
    height: 0px;
    width: 0px;
}

#head-button li:after {
    left: 0;
    border-width: 2em 0 2em 2em;
}

#head-button li:before {
    right: 0;
    border-width: 2em 2em 2em 0;
}

main {
    margin-bottom: 5em;
}

main h2,
main h3 {
    font-family: 'alfphabetbipocatcondensed';
}

main h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 6em;
    line-height: 0.85;
    letter-spacing: -3px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

main h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 1.21em;
    margin-bottom: 0.3em;
    line-height: 0.9em;
    letter-spacing: -0.01em;
}

summary {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.small {
    font-size: 70%;
}

header > blockquote {
    font-family: 'alfphabetbipocatcondensed';
    line-height: 15px;
    text-align: center;
}

header > blockquote > footer {
    font-size: 0.7em;
    line-height: 15px;
    font-family: 'alfphabetbipocatcondensed';
	margin-left: 449px;
    margin-top: 2.6em;
}

.blocvideo {
    border: solid 1px black;
    width: 300px;
    padding: 80px 30px 80px 30px;
}

.indent {
    margin-left: 20px;
}

#intro {
    font-family:'alfphabetbipocatcondensed';
    font-size: 1.1em;
    color: black;
}

/*#subscribing {*/
    /*background-color: lighten(@color-A4, 20%);*/
/*}*/

/*#cooperating {*/
    /*background-color: @color-D3;*/
/*}*/

/*#donating {*/
    /*background-color: @color-D1;*/
/*}*/

/*#subscribing h2,*/
/*#cooperating h2,*/
/*#donating h2 {*/
    /*display: none;*/
/*}*/

#collaborative-experience h2,
#status h2,
#accounting h2,
#now-what h2 {
    height: 500px;
    background-size: cover;
    line-height: 500px;
    text-align: center;
    color: @color-A3;
}

#collaborative-experience h2 span,
#status h2 span,
#accounting h2 span,
#now-what h2 span {
    vertical-align: middle;
    display: inline-block;
    line-height: 0.925em;
}

#collaborative-experience h2 {
    background-image: url("../img/up-n-down.JPG"); 
    background-position: 0 25%;
}

#status h2 {
    background-image: url("../img/doel-colin.jpg"); 
    background-position: 0 50%;
}

#accounting h2 {
    background-image: url("../img/PC207027.JPG"); 
    background-position: 0 50%;
}

#now-what h2 {
    background-image: url("../img/IMG_7245.JPG"); 
    background-position: 0 25%;
}

.louis-image {
    display: block;
    margin: 0 auto;
}

.louis-image img {
    max-width: 130%;
}

#dna {
    /*font-family: 'Goudy Bookletter 1911';*/
    font-size: 17px;
    line-height: 1.15em;
    margin-bottom: 42px;
}

#dna > div {
    margin-bottom: 22px;
}

#dna h3 {
    font-family:'urw-grotesk-t';
    font-size: 1.2em;
    margin: 0.5em 0;
    color: @color-A2;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.2em;
}

#dna em {
    letter-spacing: 0em;
    text-decoration: none;
    font-style: none;
}

#dna del {
    text-decoration: line-through;
    font-size:80%;
    line-height:80%;
    color: gray;
    text-line-through-color: gray;
}

#dna #digne {
    width: 100%;
}
    
#maquette {
    display: block;
    position: absolute;
    right: -260px;
    top: 215px;
    z-index: -1;
}

#maquette figcaption {
    margin-left: 33%;
    margin-top: 1em;
    .concrete;
    color: @color-A4;
}

#portraits .jcarousel-item {
    font-family: 'urw-grotesk-t';
    font-size: 16px;
    line-height: 1.21em;
    font-weight: bold;
    .box-sizing();
    width: 0.20%;
    position: relative;
    margin-bottom: -225px;
}

#portraits .jcarousel-item img {
    display: block;
    margin: 0 auto;
}

#portraits .jcarousel-item figcaption {
    position: relative;
    top: -225px;
    visibility: hidden;
}

#portraits .jcarousel-item:hover img {
    visibility: hidden;
}

#portraits .jcarousel-item:hover figcaption {
    visibility: visible;
}
/* }}} */

/* 3 panels {{{ */
.arrow-money {
    text-align: center;
    line-height: 6em;
    border: 0.25em solid;
    border-right-width: 1.25em;
    height: 6em;
    width: 7em;
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: 999;
    font-weight: bold;
    font-size: 24px;
    font-family: 'urw-grotesk-t';
    background-color: white;
    margin-top: -3.25em;
}

.arrow-money:after {
    content: "";
    display: block;
    position: absolute;
    left: 8.25em;
    top: -1.5em;
    border-style: solid;
    border-width: 4.5em 0px 4.5em 1em;
    height: 0px;
    width: 0px;
}

.arrow-money:before {
    content: "";
    display: block;
    position: absolute;
    width: 4em;
    height: 9em;
    left: -5em;
    top: -1.5em;
    .background-size(contain);
    background-repeat: no-repeat;
}

.arrow-money .inner {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.arrow-money .price {
	font-family: 'alfphabetbipocatcondensed';
	font-size: 88px;
	font-weight: normal;
	line-height: 78px;
}

.arrow-money .price sup {
	font-size: 0.5em;
	vertical-align: super;
    line-height: 0;
}

.fund {
    margin-left: 10em;
    position: relative;
    min-height: 12em;
    margin-bottom: 2em;
}

.fund-top {
    position: relative;
}

.fund-text {
    margin-left: 10em;
    margin-right: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
 }

.fund-top .illu {
    position: absolute;
    width: 300px;
    right: 0;
    bottom: 0; 
}

.fund-top .illu img {
    max-width: 100%;
    vertical-align: bottom;
}

.fund-bottom {
    position: relative;
    overflow: hidden;
}

.fund-bottom details {
    font-size: 1em;
    margin-left: 12em;
    margin-right: 300px;
}

.fund-bottom summary {
    margin-top: 0;
}

.fund-bottom .illu {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
}

.fund-bottom .illu img {
    max-width: 100%;
    vertical-align: top;
}

.goal-outer {
    width: 200px;
    position: absolute;
    right: 300px;
    top: 50%;
    margin-top: -5em;
    height: 10em;
    text-align: center;
    line-height: 10em;
    font-family: 'urw-grotesk-t'
}

.goal-outer sup {
	vertical-align: 0.3em;
    font-size: 0.7em;
    line-height: 0;
}

.goal-middle {
    line-height: 1.1em;
    vertical-align: middle;
    display: inline-block;
}

.goal-arrow {
    height: 0.25em;
    width: 2em;
    margin: 0em auto 0.5em auto;
    position: relative;
    background-color: black;
    font-weight: bold;
}

.goal-arrow:after {
    content: "";
    display: block;
    position: absolute;
    left: -1em;
    top: 100%;
    border-color: black transparent;
    border-style: solid;
    border-width: 0.5em 2em 0em 2em;
    height: 0px;
    width: 0px;
}

.number {
	font-family: 'alfphabetbipocatcondensed';
	font-size: 36px;
	line-height: 36px;
}

#subscribing .fund-top {
    background-color: @color-B3;
}

#subscribing .fund-bottom {
    background-color: @color-E3;
}

#subscribing .arrow-money {
    border-color: @color-A4;
    color: @color-A4;
}

#subscribing .arrow-money:after {
    border-color: transparent @color-A4;
}

#subscribing .arrow-money:before {
    background-image: url('../img/medor-perso2-ABONNE-2.png');
}

#cooperating .fund-top {
    background-color: @color-E1;
}

#cooperating .fund-bottom {
    background-color: lighten(@color-E1, 5%);
}

#cooperating .arrow-money {
    border-color: @color-A2;
    color: @color-A2;
}

#cooperating .arrow-money:after {
    border-color: transparent @color-A2;
}

#cooperating .arrow-money:before {
    background-image: url('../img/medor-perso3-PRET-2.png');
}

#donating .fund-top {
    background-color: @color-C1;
}

#donating .fund-bottom {
    background-color: @color-D1;
}

#donating .arrow-money {
    border-color: @color-A1;
    color: @color-A1;
}

#donating .arrow-money:after {
    border-color: transparent @color-A1;
}

#donating .arrow-money:before {
    background-image: url('../img/medor-perso4-DON-2_smile.png');
}
/* }}} */

/* vim: set foldmethod=marker: */
