/* test */

/* less variables {{{ */
@color-marron: #AA4400;
@color-jaune: #FFFF00;
@color-anthracite: #412828;
@color-beige: #D9DEBA; 
@color-bleu-layette: #DBE3E2; 
@color-rose: #FF8080;
@color-vert-eau: #BEE5BE;
@color-bleu-gris:#376c6f;
/* }}} */


/* fonts {{{ */
@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-italic-webfont.eot');
    src: url('../fonts/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-italic-webfont.svg#texgyrescholaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bolditalic-webfont.svg#texgyrescholabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'texgyreschola';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#texgyrescholabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('../fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('../fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('../fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('../fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet-IV';
    src: url('../fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinCondensed';
    src: url('../fonts/CabinCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Career';
    src: url('../components/CareerFont/files-font/ttf/Career.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'urw-grotesk-t';
    src: url('urwgroteskt-bold-webfont.eot');
    src: url('urwgroteskt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('urwgroteskt-bold-webfont.woff') format('woff'),
         url('urwgroteskt-bold-webfont.ttf') format('truetype'),
         url('urwgroteskt-bold-webfont.svg#urw_grotesk_tbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* }}} */


/* mixins {{{ */
.transition (@prop: all, @time: 1s, @ease: linear, @delay: 0s) {
    -webkit-transition: @prop @time @ease @delay;
       -moz-transition: @prop @time @ease @delay;
         -o-transition: @prop @time @ease @delay;
        -ms-transition: @prop @time @ease @delay;
            transition: @prop @time @ease @delay;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
       -moz-box-sizing: @type;
        -ms-box-sizing: @type;
            box-sizing: @type;
}

.user-select (@val) {
    -webkit-touch-callout: @val;
      -webkit-user-select: @val;
       -khtml-user-select: @val;
         -moz-user-select: @val;
          -ms-user-select: @val;
              user-select: @val;
}
/* }}} */


/* custom mixins {{{ */
.concrete {
    font-family: 'alfphabetbipocatcondensed';
    font-size: 0.8em;
}
/* }}} */


/* Carousel {{{ */
.jcarousel-outer {
    position: relative;
    border-top: 10px double black;
    border-bottom: 10px double black;
    height: 225px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    margin: 0 50px;
}

.jcarousel-inner {
    width: 10000%;
    position: relative;
}

.jcarousel-item {
    float: left;
    outline: 3px solid black;
}

.jcarousel-controls {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    .user-select(none);
}

.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    text-align: center;
    background-color: yellow;
    color: white;
    text-decoration: none;
}

.jcarousel-control-prev {
    left: 0px;
    background-size: cover;
    background-image: url("/static/img/arrow-left.svg");
}

.jcarousel-control-next {
    right: 0px;
    background-size: cover;
    background-image: url("/static/img/arrow.svg");
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
/* }}} */


/* layout {{{ */
html,
body {
}

.wrap {
    width: 45rem;
    margin: 0 auto;
}
/* }}} */


/* generic styles {{{ */
body {
    font-family: 'Goudy Bookletter 1911', serif;;
    font-size: 19px;
    line-height: 1.21;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: @color-bleu-gris;
}

a:hover{
    text-decoration: underline;
}

ul li:before {
    content: "- ";
}

details {
    .concrete;
}

table {
    width: 300px;
    .concrete;
}

td {
    border: 1px solid black;
}
/* }}} */


/* specific styles {{{ */
#main-header {
    font-family: 'Career', serif;;
    font-size: 2em;
}

#main-header img {
    width: 380px;
    float: left;
}

#main-header p {
    height: 250px;
    line-height: 250px;
}

#main-header span { 
    vertical-align: middle;
    display: inline-block;
    line-height: 0.925em;
}

main h2,
main h3 {
    font-family: 'alfphabetbipocatcondensed';
}

main h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 4em;
    line-height: 1;
    /*text-shadow:   1px 0px #eee, 0px 1px #ccc,*/
               /*2px 1px #eee, 1px 2px #ccc,*/
               /*3px 2px #eee, 2px 3px #ccc,*/
               /*4px 3px #eee, 3px 4px #ccc,*/
               /*5px 4px #eee, 4px 5px #ccc,*/
               /*6px 5px #eee, 5px 6px #ccc,*/
               /*7px 6px #eee, 6px 7px #ccc,*/
               /*8px 7px #eee, 7px 8px #ccc,*/
               /*8px 8px #eee;*/
}

main h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 1.21em;
}

#intro {
    font-weight: bold;
    font-size: 1.3em;
}

#donating,
#subscribing,
#cooperating {
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

#subscribing {
    background-image: url("/static/img/medor_schema-abonnements.jpg");
    min-height: 411px;
    background-color: @color-jaune;
}

#cooperating {
    background-image: url("/static/img/medor_schema-coop.jpg");
    background-color: @color-anthracite;
}

#donating {
    background-image: url("/static/img/medor_schema-kkbb.jpg");
    background-color: @color-bleu-layette;
}

#cooperating .wrapper,
#subscribing .wrapper,
#donating .wrapper {
    padding-right: 35%;
    .box-sizing;
}

.tranche {
    height: 300px;
    background-size: cover;
    line-height: 300px;
    text-align: center;
    color: white;
}

#span { 
    vertical-align: middle;
    display: inline-block;
    line-height: 0.925em;
}

.tranche-collaborative {
    background-image: url("/static/img/P8221662.JPG"); 
    background-position: 0 50%;
}

.tranche-deja {
    background-image: url("/static/img/IMG_7375.JPG"); 
    background-position: 0 25%;
}

.tranche-partenaires {
    background-image: url("/static/img/IMG_7245.JPG"); 
    background-position: 0 25%;
}

#dna .jcarousel-item {
    font-family: 'urw-grotesk-t';
    font-size: 13px;
    font-weight: bold;
    .box-sizing();
    width: 0.20%;
    height: 225px;
    position: relative;
    color: white;

    padding: 16px;

    background-image: url('../img/textures/banane-verte.png');
}

#dna h3 {
    font-family: 'urw-grotesk-t';
    margin: 0.5em 0;
}

#portraits .jcarousel-item {
    .concrete();
    .box-sizing();
    width: 0.20%;
    height: 225px;
    position: relative;
}

#portraits .jcarousel-item img {
    display: block;
    margin: 0 auto;
}

#portraits .jcarousel-item figcaption {
    display: none;
    position: absolute;
    bottom: 0;
}

#portraits .jcarousel-item:hover img {
    display: none;
}

#portraits .jcarousel-item:hover figcaption {
    display: block;
}

/* }}} */

/* vim: set foldmethod=marker: */
