<!doctype html>
{% load mediawiki_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Médor</title>
        <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" text="text/css" href="static/components/reset-css/reset.css">
        <link rel="stylesheet" type="text/less" href="static/css/styles.less">
    </head>

    <body>
        <!--
        {% comment %}
        Pour générer le code pour inclure les sections, tapez ça dans Firebug

            $('h2 span.mw-headline').each(function() {
                console.log('{% mwinclude "Appel_à_souscription" "' + $(this).attr('id') + '" %}')
            });
        {% endcomment %}
        -->
        <h1>Voici Médor</h1>
        {% mwinclude "Appel_à_souscription" "Ici_un_baseline_qui_bute" 1041 %}
        {% mwinclude "Appel_à_souscription" "Comment_et_quoi_payer" 1041 %}
        {% mwinclude "Appel_à_souscription" "Du_journalisme" 1041 %}
        {% mwinclude "Appel_à_souscription" "Du_visuel" 1041 %}
        {% mwinclude "Appel_à_souscription" "La_r.C3.A9daction" 1041 %}
        {% mwinclude "Appel_à_souscription" "Une_coop.C3.A9rative" 1041 %}
        {% mwinclude "Appel_à_souscription" "Un_objet_imprim.C3.A9" 1041 %}
        {% mwinclude "Appel_à_souscription" "Un_object_partag.C3.A9" 1041 %}
        {% mwinclude "Appel_à_souscription" "Le_fonctionnement" 1041 %}
        {% mwinclude "Appel_à_souscription" "M.C3.A9dor_et_les_autres" 1041 %}
        {% mwinclude "Appel_à_souscription" "De_la_publicit.C3.A9" 1041 %}
        {% mwinclude "Appel_à_souscription" "Appel" 1041 %}

        <script src="static/components/less/dist/less-1.7.0.min.js"></script>
        <script src="static/components/jquery/jquery.min.js"></script>
        <script src="static/components/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script>
        $(function() {
            var ids = $('body > section[id]');
            var len = ids.length;
            var i = -1;
            $(document).bind('keydown', 'down', function(event) {
                event.preventDefault();
                i = (i + 1) % len;
                document.location.hash = '#' + $(ids.get(i)).attr('id');
                console.log('down');
            });
            $(document).bind('keydown', 'up', function(event) {
                event.preventDefault();
                i = (i - 1) % len;
                document.location.hash = '#' + $(ids.get(i)).attr('id');
                console.log('up');
            });
            // $(window).on('hashchange', function(event) {
            //     event.preventDefault();
            //     $('html,body').animate({
            //         scrollTop: $('#distribution').offset().top
            //     }, 1000);
            // });
        });
        </script>
    </body>
</html>

