<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Médor</title>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" text="text/css" href="static/components/reset-css/reset.css">
        <link rel="stylesheet" type="text/less" href="static/css/styles.less">
    </head>

    <body>
        <section>
            <div class="compta">
                <p>Fabriquer un numéro de Médor coûte 16 euros. Vous payez 15 euros, la pub 1 euro.</p>
            </div>
            <div class="main">
            </div>
            <div class="parcours">
                <p>Parcours d'un article</p>
            </div>
        </section>

        <section>
            <div class="compta">
                {% include "partials/table-journalist.html" %}
            </div>
            <div class="main">
                {% include "partials/content-journalist.html" %}
            </div>
            <div class="parcours">
                {% include "partials/journey-journalist.html" %}
            </div>
        </section>
        <script src="static/components/less/dist/less-1.7.0.min.js"></script>
        <script src="static/components/jquery/jquery.min.js"></script>
    </body>
</html>

