<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Médor - long-form</title>
    <link href="../components/reset.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>

<style type="text/css" media="screen">
     * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      body {
        color: black;
        font-family: 'Bitter', sans-serif;
        font-weight: 200;
        font-size: 0.9em;
        line-height: 1.3em;
        margin-left:15%;
      }

      p {
        max-width: 60%;
      }
      
      h1 {
        font-family: 'Bitter', sans-serif;
        font-size: 3em;
        line-height: 1.3em;
        margin: 0;
        text-transform:none;
      }
      
        h2 {
        font-weight: inherit;
        line-height: 1.1em;
        font-size: 2em;
        margin: 0;
        text-transform:none;
      }
      
        h3 {
        font-weight: inherit;
        font-size: 1.5em;
        margin: 0;
        text-transform:none;
      }

      a {
        color: inherit;
      }

      img {
        max-width: 100%;
      }

      p {
      }
      
      nav{
        margin:20px;
        float:left;
      }

      section {
        position: relative;
        overflow: hidden;
        padding: 50px;
        width: 100%;
        height: 100%;
        background: white;
        background-image: url(/static/img/clavier.jpg);
        background-size: cover;
        background-position: center center;
      }
       .adn{
        font-size: 3.5em;
        line-height: 1.2em;
        margin-top: 30px;
      }
       .belge {
        font-family: Alfphabet;
      }
      
       .mordant {
        font-family: Indubitably;
      }
      
       .impartial {
        font-family: Bitter;
        text-transform: uppercase;
      }
       .engagé {
        font-family: Archivo Black;
      }
       .curieux {
        font-family: Open Sans;
      }
        .imparfait {
        font-family: Crickx;
      }
        .applicateur {
        font-family: Archivo;
      }

</style>



<body>

<section id="start">
Au bas de cette page, vous aurez envie de payer 60 euros

    1er septembre : on lance dans notre premier cercle
    15 septembre : lancement public : vidéo de François Damiens. "Médor! Médor!" Mais Médor ne vient pas! Pourquoi? 
</section>

<section id="medor">
<h1>Voici Médor!</h1>

<p>Faites comme nous, méfiez-vous des apparences.</p>

<p>Parce que tous les Noirs n'ont pas le rythme dans la peau, parce que tous les arabes ne fument pas du haschich, parce que tous les juifs ne sont pas sionistes et parce que tous les Blancs ne sont pas des colons, Médor ne sera pas un chien. C'est un mag'.</p>

<p>La revue Médor est un trimestriel d’enquêtes, de récits, de portraits de grands reportages dans un petit pays (essentiellement réalisées en Belgique). Il s'installe sur un format 16 × 23 cm (portrait) et comprend 128 pages, imprimées en quadrichromie, dont un cahier photo de 12 pages. Il compte 5000 exemplaires par numéro.</p>
</section>

<section id="pourquoi">
<h1>Pourquoi créer une nouvelle revue ?</h1>

<p>Parce qu'on en a envie et que ça, c'est déjà pas mal.</p>

<p>Parce que dans la presse belge, l’urgence a fini par ronger le sens.</p>

<p>Parce que, dans nos médias, le moindre fait divers bouscule les priorités.</p>

<p>Parce qu'on espère réinventer les pratiques des journalistes et les chemins de l'info.</p>

<p>Parce qu'on veut un média digne sur toute la ligne. Y compris la ligne de production. Les journalistes, photographes, graphistes ou dessinateurs de presse travaillent dans des conditions déplorables. Un pigiste belge gagne, en moyenne, moins qu’un laveur de vitre (voir l'étude de l’AJP). Ce fait même ne nous gêne pas, mais par contre il faut alors augmenter les laveurs de vitres. Comme eux, le journalisme aide à y voir clair.</p>
</section>

<section id="medor">
<h1>ADN</h1>

<p>Il y avait les 7 samouraïs, les 7 nains, les 7 péchés capitaux, les 7 merveilles du monde (avant qu'on ajoute d'autorité la Grand-Place de Bruxelles), il y a à présent les 7 nucléotides de l'ADN médorien.</p>

<p class="adn belge">Belge</p> 
<p>Médor revendique cet acide tendre qu'est l'identité belge, tant dans le choix des sujets que dans leur traitement.</p>

<p class="adn mordant">Mordant</p>
<p>Médor cherche, enquête, fouine, et insiste. Et en exclu' SVP. Ce que vous lirez dans Médor, vous ne le lirez pas ailleurs.</p>

<p class="adn impartial">Impartial</p>
Médor n'est ni votre ami, ni votre ennemi. Seuls les faits comptent.<p>

<p class="adn engagé">Engagé</p>
Sur base de ces faits, Médor se permet un point de vue, un regard. Car Médor refuse le confort de l'équidistance. Il évolue sur une ligne de crête, bien loin au-dessus du relativisme absolu et de la quête universaliste.</p>

<p class="adn curieux">Curieux</p> 
<p>Tant dans son processus de fabrication que dans sa ligne éditoriale ou le choix des sujets, Médor cherche à inventer: arts graphiques qui ont du chien, écriture inspirée du jeu de rôles ou du cinéma, prise de décision collective, partage tournant des rôles...</p>

<p class="adn imparfait">Imparfait</p> 
<p>Médor imprime sur du FSC (écolabel), travaille en structure horizontale, avec du logiciel libre, paie tout le monde (et même les impôts), se constitue en coopérative, assure la transparence, l'indépendance... Mais il y a sans aucun doute possibilité de faire mieux. Alors on continue.</p>

<p class="adn applicateur">Applicateur de valeurs</p>
<p>Médor ne se gargarise pas de développement durable, de solidarité, de salaire digne, de consommation équitable, d'économie sociale, d'écologie, de responsabilité sociale des entreprises. Médor ne proclame pas des concepts. Il en applique les valeurs.</p>
</section>

<section id="rubriques">
<h1>Les rubriques</h1>

<p>Rédigées par les Médoriens, elles construisent l'identité du mook et doivent être pensées pour coller à la périodicité trimestrielle.</p>

</h2>Emocratie</h2>
Comprendre comment un fait divers débouche sur des mesures politiques dont l'impact sur la société est durable et profond. Il ne s'agit pas tant de juger de la prise de décision politique que d'en décoder les mécanismes (Ex : Les secteurs ont-ils été concertés ? Les moyens vont-ils suivre ? Etc. )

<h2>Fait divers, de société</h2>
Retour sur un fait divers pour en faire un sujet de société (Ex : un accident de voiture qui pose la question des détecteurs de radar et de la commercialisation des grosses cylindrées / Un fait judiciaire nous parle de l'indépendance des experts). Se munir d'une paire de ciseaux et d'une pile de Sud presse !

<h2>Flash back</h2>
Se donner l'occasion de se replonger dans un dossier, un récit judiciaire, sans lien avec l'actualité.

<h2>Interview à la bière</h2>
<p>Medor vous emmène au cœur de la société belge, à savoir, dans ses bars et ses cafés. Confidences sur le comptoir, le bar crée un cadre propice pour une interview imbibée (préférer l'enregistreur au carnet de notes !). Le bar et sa faune peuvent aussi constituer un sujet en eux-même. (Ex : eurocrates et lobbyistes qui trinquent le jeudi place du Luxembourg.) En quelques sortes, c'est la rubrique « santé » de Medor. A consommer sans modération !</p>

+ visuel l'ancêtre du tweet (une phrase sur un carton de bière) ?

<h2>Ce qu'ils nous vantent, ce qu'ils nous vendent</h2>
Confronter la pub, la promesse, à la réalité.

<h2>« Soyez l'info »</h2>
Enquête qui sollicite les lecteurs comme source d'infos inédites

<h2>Naissance d'une oeuvre (concert, peinture, ...)</h2>
Récit de la naissance d'une oeuvre
</section>

<section id="sommaire">
<h1>Le sommaire du premier numéro</h1>

ULTRA PROVISOIRE

Grande enquête (18 pages) - Agence Belga, premier chien de garde, enjeu de pouvoir sous-estimé ?

Grande enquête (18 pages) - A qui appartient l'infrastructure informatique en Belgique ? A qui sont les câbles ?

Petite enquête (10 pages) - Les Flamingants du Nord Pas-de-Calais

Petite enquête (10 pages) - Thomas Gunzig dans l'aïwaska OU Portrait de Denis Uvier, l'écorché carolo

Petite enquête (10 pages) - Le bois de violon d'un blanchisseur de La Louvière OU Interruption involontaire de l'IVG, faute de médecins ?

Super entretien (8 pages) - la liberté d'expression niée au nom de la liberté d'expression (mais qui pour en parler ?) OU un sujet culture

Sujet photo ?

<section id="parcours">
Parcours d'un article

    une bonne idée
    réunion de rédaction (mettre en avant les spécificités, rédaction tournante, observateurs de l’AG, enquêtes)
    commande à l’auteur (bien payé)
    travail mené (plate-forme de rédaction, intervention des chefs coqs visuels, deux relecteurs, temps accordé, etc.)
    validation collective du papier, à la fois fond et forme (logiciel libre, processus participatif,…)
    Impression (papier FSC, si possible entreprise sociale)
    Routage assurée par Nos Pilifs (ETA)
    Distribution poste mais aussi à vélo
    Médor arrive chez vous ! 
</section>

<section id="exemple">
Un exemple

Papier d’Oli « demain je meurs » avec OSP (making of, conseils musicaux, etc.). Ou un autre article avec une vraie collaboration depuis le départ.
</section>

<section id="argent">
la question qui fâche...l'argent

Médor s'organise autour de deux logiques : une coopérative et une revue

- REVUE / vous vous abonnez pour 60 euros et vous recevez 4 n° par an. C'est une manière de nous soutenir.

- COOPERATIVE / vous prenez une ou plusieurs parts de 20 euros dans la coopérative de Médor, appelé Félix. Vous devenez propriétaire d'un titre de presse (félicitations, Rupper), vous participez aux AG, êtes garant de la philosophie de Médor. Vous soutenez un projet de société en lui donnant une assise financière, morale et démocratique.
</section>

<section id="abonnement">
Pré-abonnez-vous !

Promettez-nous votre abonnement à Medor pendant un an et 4 numéros.

Si 3699 personnes posent ce même engagement que vous, nous vous demanderons de verser 60 euros et vous recevrez les 4 premiers numéros de Medor.

Bravo : vous avez créé un magazine...

INTEGRE_T_ON DIRECT ARTICLE 27 ?
</section>

<section id="coop">
Devenez coopérateur

Médor compte actuellement 87654 coopérateurs (compteur automatique comme sur le site de New B).

En remplissant le formulaire ci-dessous. Une fois votre demande validée, vous devrez vous acquitter du montant correspondant au nombre de parts souhaitées (une part = 20 euros).

Quels sont mes droits en tant que coopérateur? Chaque année, vous serez invité à l’Assemblée générale de Médor, où seront votées toutes les grandes décisions (nominations pour le Conseil d’administration, budget, fonctionnement, ligne éditoriale,…).

Deux membres de l’AG seront élus pour devenir observateur du comité de rédaction de Médor, avec rapport à l’AG. Lisez le règlement complet.

Qu’ai-je à y gagner (ou à y perdre)? En devenant coopérateur de Médor, vous contribuez à l’existence d’un magazine indépendant et de qualité en Belgique. Vous participez à un projet collaboratif salutaire pour notre démocratie.

Dans le meilleur des cas, si des bénéfices sont engrangés par Médor, vous pourriez toucher des dividendes correspondant au nombre de parts dont vous disposez (transparence oblige : ne comptez quand même pas trop dessus,…)

Dans le pire des cas, si Médor venait à mourir et était incapable de rembourser tous les coopérateurs, vous pourriez perdre le montant de votre part.

Consultez le règlement complet et nos questions/réponses fréquentes.

Ils nous soutiennent déjà :

    Jean-Marie Cavada
    Guy Thomas
    Patrick Poivre d'Arvor
    Christine Ockrent
    Bernard Rapp
    Daniel Bilalian
    Claude Sérillon
    Henri Sannier
    Hervé Claude
    Paul Amar
    Étienne Leenhardt
    David Pujadas
    José Happart
    Le Grand Jojo
    Laurent Louis
    Sandra Kim
    Patrick de Saint-Exupéry 
</section>

<section id="emeute">
Organisez une (é)meutes

Ouvrez vos portes (privées ou publiques) à une réunion Medorwaere pour expliquer le projet Médor et la philosophie derrière la recherche de préabonnés et de coopérateurs.
</section>

<section id="independance">
Notre indépendance

Médor est une revue indépendante. Toutes les décisions sont prises démocratiquement, par les coopérateurs ou par le CA qu’ils ont élu.

    Indépendance par rapport au politique. Aucun subside ne sera demandé aux pouvoirs publics. Aucun membre du Conseil d’administration ne peut avoir de mandat politique.
    Indépendance par rapport à la pub. Médor ne refuse pas la pub mais lui confère un poids très minoritaire dans son budget. Médor impose ses règles aux annonceurs. Il soumet toute demande à un comité de vigilance. En savoir plus. 
</section>

<section id="pub">
Médor et la pub

Parce qu’il y a des produits, des initiatives, des événements ou des projets qui valent la peine d’être soutenus, Médor accepte la publicité sans la subir. Il réaffirme des valeurs fortes. Concrètement :

    Le nombre total de pubs est limité à six pages par numéro. D’autres sources de financement seront privilégiées. Voir là : Médor et l’argent.
    Les annonceurs doivent répondre à des critères éthiques (respect des droits humains, de l’environnement, de valeurs sociales,…).
    Les annonceurs ne peuvent avoir aucun intérêt en lien avec le contenu du magazine.
    Le contenu des pubs ne peut nuire à la qualité du magazine : la médiocrité, le machisme, l’ultra-consumérisme et la laideur n’ont pas leur place dans Médor. L’humour et la créativité sont, en revanche, encouragés.
    Le comité de rédaction juge au cas par cas. L'AG revient sur les pubs choisies chaque année. En cas de questionnements insolubles, Médor fait appel à Eco-Consommation pour éclairer le choix à poser. 

Concrètement, la pub intervient pour 30 000 euros sur un budget de 230 000 euros. Soit 13% du budget de Médor.
</section>

<section id="qui">
Qui?

Naissance du projet

Médor est né en août 2012 lors d’une réunion entre journalistes et graphistes partant de deux préalables :

    Un mag qui raconte autrement la Belgique manque, un mag’ plus lent, moins calé dans les lignes et agendas médiatiques classiques. 

    La précarisation du journalisme amène une information de faible qualité, vite écrite vite périmée. Le temps, et donc l’argent pour rémunérer les producteurs de sens (journaliste, graphiste,…), est un préalable indispensable pour fournir un travail de qualité. Donc, pour viser une qualité de production, Médor payera correctement tous ses collaborateurs et ce dès le début. 


Qui sommes-nous - Photo de groupe + une légende pour chacun, en trois lignes, notre cv prestigieux et condensé + pourquoi chacun de nous est coopérateur de Médor
(cfr http://decorrespondent.nl/) - http://tunakutafuta.be/index.php?title=Spécial:Liste_des_utilisateurs 
</section>

    <script src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}components/panelsnap/jquery.panelSnap.js"></script>
    <script src="{{ STATIC_URL }}components/less/dist/less-1.5.1.js"></script>
    <script>
      $('body').panelSnap();
    </script>

    
    
    
    
</body>
</html>