<table>
    <tr>
        <th>Rémunérations<br />journalistes</th>
        <th>2,69 &euro;</th>
    </tr>
    <tr>
        <td>Journalistes grandes enquêtes</td>
        <td>0,97 &euro;</td>
    </tr>
    <tr>
        <td colspan="2">2 × &nbsp;&nbsp;18 pages</td>
    </tr>
    <tr>
        <td>Journalistes petites enquêtes</td>
        <td>0,49 &euro;</td>
    </tr>
    <tr>
        <td colspan="2">3 × &nbsp;&nbsp;10 pages</td>
    </tr>
    <tr>
        <td>Journalistes rubriques</td>
        <td>0,81 &euro;</td>
    </tr>
    <tr>
        <td colspan="2">20 × &nbsp;&nbsp;1 page</td>
    </tr>
    <tr>
        <td>Entretien (1 journaliste)</td>
        <td>0,27 &euro;</td>
    </tr>
    <tr>
        <td colspan="2">8 pages</td>
    </tr>
</table>
